.tool-bar {
    background-color: #202020;
    /* padding: 15px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .active-toolbar-button {
    font-family: Roboto;
    margin: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #000;
    background-color: rgba(255, 255, 255, 0.87);
    width: fit-content;
    padding: 7px 14px;
    border-radius: 20px;
    cursor: pointer;
  }
  .toolbar-button {
    font-family: Roboto;
    display: flex;
    align-items: center;
    margin: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: rgba(255, 255, 255, 0.87);
    width: fit-content;
    padding: 7px 14px;
    border-radius: 20px;
    cursor: pointer;
    white-space: nowrap;
  }
  .toolbar-button-sort {
    font-family: Roboto;
    display: flex;
    align-items: center;
    margin: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: rgba(255, 255, 255, 0.87);
    width: fit-content;
    padding: 7px 14px;
    border-radius: 20px;
    cursor: pointer;
    white-space: nowrap;
  }
  
  .toolbar-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .active-toolbar-button:hover {
    background-color: rgba(255, 255, 255, 0.7);
  }
  
  .preview-image {
    width: 100%;
    height: auto;
  }
  .video-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
  
    /* Black & white/white */
    margin: 3px 0px;
    color: #ffffff;
  }
  .video-sub-title {
    color: #d1d5da;
    font-size: 14px;
  }
  
  .video-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    margin: 20px;
  }
  .iframe-parent {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    margin: 20px;
  }
  .iframe-parent iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  @media (max-width: 768px) {
    .iframe-main {
      width: unset;
      min-height: unset;
    }
  }
  .playing-title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #fff;
    margin: 5px 0px;
  }
  
  .tag {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
  
    color: #c2c2c2;
    margin-right: 1rem;
    font-family: "Roboto";
  }
  
  .line {
    padding: 0.5rem 0;
    margin-top: 1rem;
    display: flex;
    align-items: center;
  }
  .dot {
    background-color: #fff;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-right: 1rem;
  }
  .vote-container {
    display: inline-flex;
  }
  
  .vote-pill {
    color: #fff;
    mix-blend-mode: normal;
    border-radius: 16px;
    background-color: #2b2b2b;
    margin-right: 15px;
    padding: 5px 12px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .vote-pill:hover {
    background-color: #474747;
  }
  .thumb-icon {
    color: #797979;
    margin-right: 10px;
  }
  
  .video-tile:hover {
    cursor: pointer;
    opacity: 0.6;
    transition: all 0.2s linear;
  }
  
  .no-videos {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    margin-top: 100px;
    color: #999;
  }
  